<h1> List of Orders </h1>
<form id="kitchen">
<ul>
{{#each orders}}
  <span><li><input type="checkbox" name='orders' value="{{this._id}}" </br> {{this.id}}:
     <ul>
        <li> {{this.meat}} </li> {{#each this.toppings}}
       <li> {{this}} </li> {{/each}}
       <li> on {{this.bread}} bread </li> </ul>
     </li> {{/each}} </span>
</ul>
<input type="submit" value="Order Up!">
</form>
