<h1> Menu </h1>

<h3> The Dark Knight ............................................................... $6.50 </h3>
<h5> (Ground beef patty on white bread with lettuce, grilled onions, and mayonnaise) </h5>

<h3> The Riddler ................................................................... $6.25 </h3>
<h5> (Ground beef patty on wheat bread with lettuce, pickles, and mystery sauce)  </h5>

<h3> The Mad Hatter ................................................................ $7.25 </h3>
<h5> (Ground beef patty on Pretzel bread with mushrooms, grilled onions, and ketchup)  </h5>

<h3> The Joker ..................................................................... $8.00 </h3>
<h5> (Ground beef patty on sourdough bread with pickles, bacon, and mayonnaise)  </h5>

<h2> Place your Order! </h2>

<form id="order">
<h3>Choose a burger!</h3>
<select class="ui fluid search dropdown" size="4">
  {{#each premade}}
    <option name = 'premade' value="{{this.id}}">{{this.id}}</option>
  {{/each}}
</select>
<span id='buildyourown'>
<h3> Or build your own for $8.00!</h3>
<div class="container" id="right" >
<span>
<h4> Toppings </h4>
<select class="ui fluid search dropdown" multiple="" size="10">
  {{#each toppings}}
    <option name = 'toppings' value="{{this}}">{{this}}</option>
  {{/each}}
</select>
</span>

<span>
<h4> Bun </h4>
<select class="ui fluid search dropdown" size="4">
  {{#each buns}}
    <option name = 'bun' value="{{this}}">{{this}}</option>
  {{/each}}
</select>
</span>

<span>
<h4> Patty </h4>
<select class="ui fluid search dropdown" size="4">
  {{#each meats}}
    <option name = 'meat' value="{{this}}">{{this}}</option>
  {{/each}}
</select>
</span>
</div>
<br> </br>
<input type="submit" value="Place Order">
</span>
</form>
